.experience{

  margin-top: 32px;

  div{
    font-family: Inter;
    font-size: 18px;
    line-height: 32px;
    color: #222222;
  }

  .time{
    font-style: italic;
    font-weight: 300;
  }

  .company{
    font-weight: 500;
  }

  .title{
    font-weight: 300;
  }

}