.main{
  overflow: hidden;
  padding: 40px;
  padding-bottom: 70px;
  height: 70px;
  z-index: 3;
  background-color: white;
  width: calc(100vw - 12px);
}

.name{
  float: left;
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  cursor: pointer;
  user-select: none;
}

.menu{
  float: right;
  transform: translateX(12px);

  .link{
    text-decoration: none;
    color: black;

    .option{
      display: inline-block;
      margin-right: 20px;
      font-size: 18px;
      font-weight: 500;
      cursor: pointer;
      user-select: none;
    }
    
    .selected{
      opacity: 1;
    }
    
    .deselected{
      opacity: 0.3;
    }
  }
}

@media only screen and (max-width: 600px) {
  .main{
    padding: 25px 40px 10px 25px;
    width: 100vw;
  }
  .menu{
    float: left;
    transform: translateX(0px);
  }
  .name{
    display: none;
  }
}