.main{
  overflow: hidden;
  padding: 40px;
  padding-bottom: 70px;
  height: 70px;
  position: fixed;
  top: 0;
  z-index: 3;
  background-color: white;
  width: calc(100vw - 30px);
}

.name{
  float: left;
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  cursor: pointer;
  user-select: none;
}

.menu{
  float: right;
  transform: translateX(30px);

  .link{
    text-decoration: none;
    color: black;

    .option{
      display: inline-block;
      margin-right: 20px;
      font-size: 18px;
      font-weight: 500;
      cursor: pointer;
      user-select: none;
    }
    
    .selected{
      opacity: 1;
    }
    
    .deselected{
      opacity: 0.3;
    }
  }
}